extends ../layout/main

block title
	|   წიგნები

block content
	a.small(href="./book.html") > წიგნები
	div.center
		div.titreLivre
			h3 თხელყდიანი წიგნები
		div.books
			div.book
				div.bookInfo
					img.bookImg(src="../pics/anastasiaVol. 2.jpg")
					div
						div.titleBook 
							h3 Die klingenden Zedern Russlands
							p.Bookdesc In Band 2 erzählt Wladimir Megre, wie sich nach seinem Treffen mit Anastasia sein Leben auf dramatische Weise wandelte und wie es auf Umwegen dazu kam, dass er mit dem Schreiben begann. Die Kette von Ereignissen, die daraufhin ausgelöst wurde, zeigt den überweltlichen, mystischen Einfluss der Taiga-Eremitin und welche Kraft im Traum des Menschen liegt – vor allem dann, wenn er von vielen gemeinsam geträumt wird.

							p.Bookdesc Anastasia betont die Wichtigkeit der reinen Gedanken für die spirituelle Entwicklung des Menschen. Die Beziehung zur Umwelt und insbesondere zu den Pflanzen spielt hierbei eine entscheidende Rolle – denn Pflanzen können dem Menschen helfen, eine Atmosphäre der Liebe zu erschaffen.

							p.Bookdesc Weitere Themen sind das Geheimnis der Heilkräfte des Zedernöls sowie die Bedeutung der Dolmen als kosmische Speicher der Weisheit. Außerdem erzählt Anastasias Großvater aus dem Leben seiner Enkelin, die bereits als kleines Kind hochbegabt war und außergewöhnliche Begegnungen hatte.
							
						a.buttonArticle.rightButton(href="#") იხილეთ სრულად
						a.buttonArticle.leftButton.addCartButton(href="#") კალათაში დამატება
			div.book
				div.bookInfo
					img.bookImg(src="../pics/anastasiaVol. 2.jpg")
					div
						div.titleBook 
							h3 Die klingenden Zedern Russlands
							p.Bookdesc In Band 2 erzählt Wladimir Megre, wie sich nach seinem Treffen mit Anastasia sein Leben auf dramatische Weise wandelte und wie es auf Umwegen dazu kam, dass er mit dem Schreiben begann. Die Kette von Ereignissen, die daraufhin ausgelöst wurde, zeigt den überweltlichen, mystischen Einfluss der Taiga-Eremitin und welche Kraft im Traum des Menschen liegt – vor allem dann, wenn er von vielen gemeinsam geträumt wird.

							p.Bookdesc Anastasia betont die Wichtigkeit der reinen Gedanken für die spirituelle Entwicklung des Menschen. Die Beziehung zur Umwelt und insbesondere zu den Pflanzen spielt hierbei eine entscheidende Rolle – denn Pflanzen können dem Menschen helfen, eine Atmosphäre der Liebe zu erschaffen.

							p.Bookdesc Weitere Themen sind das Geheimnis der Heilkräfte des Zedernöls sowie die Bedeutung der Dolmen als kosmische Speicher der Weisheit. Außerdem erzählt Anastasias Großvater aus dem Leben seiner Enkelin, die bereits als kleines Kind hochbegabt war und außergewöhnliche Begegnungen hatte.
							
						a.buttonArticle.rightButton(href="#") იხილეთ სრულად
						a.buttonArticle.leftButton.addCartButton(href="#") კალათაში დამატება